@import "./../../../assets/styles/variables.scss";

.nav-wrapper {
  height: 9.6rem;
  position: relative;

  .nav-floater {
    position: absolute;
    width: 100%;
    background-color: $white;
    top: -75%;
    transform: translateY(100%);

    &.floating {
      position: fixed;
      top: 0;
      transform: translateY(0);
      z-index: 998;
      box-shadow: 0 1rem 3.2rem -0.2rem rgba(0, 0, 0, 0.11);
      transition: 0.8s ease-out;
    }
  }
}

.ant-menu-item,
.ant-menu-submenu {
  .menu-item-content {
    height: 100%;
    border: none;
    outline: none;
    box-shadow: none;
    background: none;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
  }

  &.ant-menu-item-selected,
  &.ant-menu-submenu-selected {
    .menu-item-content {
      font-weight: 700;
    }
  }
}

.submenu-item-content {
  text-transform: unset;
  font-weight: 400;
  padding-left: 0;
}

.main-menu.ant-menu {
  width: 100%;
  line-height: unset;
  height: 100%;
  background: none;
  border-bottom-color: transparent;

  &.ant-menu-horizontal {
    text-align: center;
  }

  > * {
    background: none;
    color: #000;
  }

  .ant-menu-submenu {
    > div {
      height: 100%;
    }
  }

  .ant-menu-item,
  .ant-menu-submenu {
    margin: 0 1rem !important;
    padding: 0 !important;
    height: 100%;

    &.ant-menu-submenu-inline,
    &.ant-menu-submenu-vertical {
      margin: 0 !important;
      height: auto;

      .ant-menu-submenu-title {
        padding: 0 !important;

        span {
          padding-left: 1rem;
          text-transform: uppercase;
          font-weight: 600;
        }
      }
    }
  }

  &.ant-menu-inline-collapsed
    > .ant-menu-submenu
    > .ant-menu-submenu-title
    .ant-menu-submenu-arrow {
    display: block;
    padding: 2rem;
    transform: translate(1.2rem, -2.2rem);
  }

  &.ant-menu-vertical,
  &.ant-menu-inline {
    border-right: none;
    height: auto;
    .ant-menu-item,
    .ant-menu-submenu {
      margin: 0 !important;
      padding: 0 !important;

      > button,
      > div > button {
        padding: 0 1rem;
        text-align: left;
      }
    }

    .ant-menu-item,
    .ant-menu-submenu > div {
      display: flex;
      button {
        flex: 1;
      }
    }

    button.submenu-item-content {
      padding-left: 2rem;
    }

    .ant-menu-item-selected {
      background-color: transparent;
      > div {
        background-color: #eaeddf;
      }
    }

    .ant-menu-submenu-open {
      .ant-menu-sub {
        height: auto !important;
      }
    }
  }
}
