@import "./../../../assets/styles/variables.scss";

.steps-content {
  padding: 0;
  position: relative;

  &__title {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 3rem;

    &--sub-title {
      font-size: 1.6rem;
    }
  }

  .loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: transparent;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;

    &.show {
      width: 100%;
      height: 100%;
      background-color: $blur-bg;
      z-index: 999;
      opacity: 1;
      visibility: visible;
      transition: opacity 0.2s, visibility 0.2s;
    }

    > span {
      &:nth-of-type(1) {
        font-size: 2rem;
        margin-bottom: 2rem;
        color: $black;
      }

      &:nth-of-type(2) {
        font-size: 4rem;
        color: $primary-color;
      }
    }
  }
}

.cart-table {
  th {
    font-size: 1.6rem;
    text-transform: uppercase;
  }

  tr {
    td {
      vertical-align: top;
    }
  }
}

.cart-btns {
  padding: 0.5rem 1rem;
  padding-top: 1rem;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  background-color: $white;
  box-shadow: $card-box-shadow-light;

  &__cost-group {
    display: inline-flex;
    justify-content: space-between;
    padding-bottom: 1rem;

    span {
      font-weight: 600;
      font-size: 1.8rem;
      color: $darkgray;
    }
  }

  &__link {
    button {
      width: 100%;
      height: unset;
      padding: 0.8rem 0;
      text-transform: uppercase;
      font-size: 1.6rem;
      font-weight: 500;
    }
  }
}

.cart-steps {
  .ant-steps-item {
    .ant-steps-item-title {
      text-transform: uppercase;
      transition: 0.3s;
    }

    &.ant-steps-item-active {
      .ant-steps-item-title {
        color: $primary-color;
        font-weight: 600;
        transition: 0.3s;
      }
    }
  }

  &.ant-steps-vertical {
    .ant-steps-item-container {
      margin-left: unset;
      display: block;
    }

    .ant-steps-item {
      text-align: left;
      position: relative;
      margin-bottom: 1.6rem;

      &::after {
        position: absolute;
        top: 50%;
        left: unset;
        right: 2rem;
        transform: rotate(45deg) translateY(-50%);
      }

      &::before {
        width: 1.5px;
        left: 1.6rem;
        top: -4rem;
        display: block;
        background-color: $lighter-gray;
        height: calc(100% - 24px);
      }

      &.ant-steps-item-active {
        &::before {
          width: 1.5px;
          left: 1.6rem;
          top: -4rem;
          background-color: $primary-color;
        }

        &::after {
          border-color: $primary-color;
        }
      }

      &:first-of-type {
        &::before {
          display: none;
        }
      }
    }
  }
}

.cart-action {
  &__prod-btns {
    &--remove {
      background-color: $white;
      border-radius: 3px;
      display: inline-flex;
      align-items: center;
      padding: 0.5rem 0.8rem;
      outline: none !important;
      box-shadow: none !important;
      border: 1px solid $lighter-gray;
      cursor: pointer;

      label {
        font-size: 1.4rem;
        font-weight: 500;
        margin-left: 5px;
      }
      color: $danger-color;

      svg {
        fill: $danger-color;
      }
    }
  }
}

.cart-cell {
  &__product {
    display: flex;
  }

  &__product-img {
    width: 8rem;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__detail {
    flex: 1;
    padding-left: 1rem;

    &__name {
      h2 {
        font-size: 1.6rem;
        text-align: left;
      }
    }

    &__price {
      font-size: 1.8rem;
      font-weight: 500;
      color: $black;
      text-align: left;

      del {
        display: none;
      }
    }

    &__prod-btns {
      text-align: left;
      padding-top: 2rem;

      &--adjust-group {
        display: flex;
        align-items: center;
      }

      > div {
        > span {
          display: inline-block;
          margin-right: 1rem;
          font-size: 1.5rem;
          font-weight: 500;
          color: $black;
        }

        > div {
          display: inline-flex;
          align-items: center;
        }
      }

      &--count {
        text-align: center;
        height: 4rem;
        color: $black;
        font-size: 1.5rem;
        font-weight: 500;
        margin: 1rem 0;
        border-radius: 0;
        border: 1px solid $gray;
        border-left: none;
        border-right: none;
        min-width: unset;
        max-width: 6rem;
      }

      &--sub,
      &--add {
        height: 4rem;
        padding: 0 1rem;
        outline: none !important;
        box-shadow: none !important;
        background-color: $white;
        cursor: pointer;

        svg {
          fill: $black;
          transform: scale(1.3);
        }
      }

      &--sub {
        border: 1px solid $gray;
        border-radius: 3px 0 0 3px;
      }

      &--add {
        border: 1px solid $gray;
        border-radius: 0 3px 3px 0;
      }

      &--remove {
        margin-top: 2rem;
        border: 1px solid $danger-color;
        outline: none !important;
        box-shadow: none !important;
        background-color: $white;
        padding: 0.5rem 1rem;
        color: $danger-color;
        float: right;
        cursor: pointer;

        svg {
          fill: $danger-color;
          height: 2rem;
          width: 2rem;
          margin-bottom: -4px;
        }
      }
    }
  }
}

.info-column {
  .cart-dropdown {
    background-color: unset;
    padding: 0;
    border: none;
    box-shadow: none;
    border-radius: 0;
    min-width: unset;
    max-width: unset;
    overflow: auto;

    &__list {
      padding: unset;
      max-height: unset;
    }
  }
}

.customer-form {
  padding-top: 2rem;

  .ant-form-item-label {
    label {
      font-weight: 500;
      font-size: 1.6rem;

      &:not(.ant-form-item-required) {
        &::before {
          content: "";
          min-width: 12px;
        }
      }
    }
  }

  .ant-form-item-control {
    .ant-form-item-explain {
      padding: 1rem 0;
    }
  }

  input,
  textarea,
  .ant-select-selector {
    background-color: $light-blue !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0 !important;
    font-weight: 400;
  }

  textarea {
    min-height: 200px;
  }
}

.pay-method {
  margin-top: 3rem;
  border-radius: 0;

  .ant-collapse-header {
    display: flex;
    align-items: center;

    span {
      margin-left: 5px;
      font-weight: 500;
      font-size: 1.6rem;
    }
  }

  .ant-collapse-content-box {
    > p {
      font-size: 1.8rem;
      font-weight: 500;
      color: $black;
      text-align: center;
    }
  }

  .bank-account {
    p {
      font-size: 1.6rem;
      color: $black;

      &:first-of-type {
        font-weight: 500;
        font-size: 1.8rem;
        color: $danger-color;
      }

      span {
        margin-right: 5px;

        &:nth-of-type(2) {
          font-weight: 500;
        }
      }
    }
  }
}

.confirm-order {
  padding-top: 2rem;

  button {
    display: block;
    width: 100%;
    padding: 1.2rem 0;
    margin: 2rem 0;
    height: unset;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 500;

    &:nth-of-type(2) {
      padding: 0.8rem 0;
    }
  }
}

.finished-form {
  text-align: center;

  h3 {
    font-size: 2rem;
    width: 70%;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 2rem;

    + p {
      font-size: 1.8rem;
      font-weight: 600;
      color: $black;

      span {
        color: $danger-color;
        font-size: 2rem;
      }
    }
  }

  p {
    font-size: 1.6rem;
    padding: 0 2rem;
  }

  &__callback {
    max-width: 600px;
    margin: 3rem auto;
    font-weight: 600;
  }
}

@media screen and (min-width: $md) {
  .steps-content {
    padding: 3rem 0;

    &__title {
      font-size: 2.2rem;
      text-transform: uppercase;
      font-weight: 700;
      padding-bottom: 2rem;

      &--sub-title {
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: 700;
        padding: 1.2rem 0;
        width: 100%;
        border-bottom: 1px solid $light-gray;
      }
    }
  }

  .cart-btns {
    position: relative;
    box-shadow: none;
    padding: 1rem 0;
    padding-top: 2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__cost-group {
      padding-bottom: 0;
      span {
        font-size: 2rem;
        margin-right: 5px;
        font-weight: 700;
      }
    }

    &__link {
      button {
        padding: 1rem;
      }
    }
  }

  .cart-cell {
    &__product-img {
      width: 10rem;
    }

    &__detail {
      flex: 1;
      padding-left: 1.6rem;

      &__name {
        h2 {
          font-size: 1.6rem;
          text-align: left;
          max-width: 50rem;
        }
      }

      &__price {
        font-size: 1.6rem;
        font-weight: 500;
        color: $black;

        del {
          display: none;
        }
      }

      &__prod-btns {
        padding-top: unset;

        &--adjust-group {
          display: block;
          position: relative;
          min-width: 8rem;
        }

        &--count {
          height: 4.4rem;
          width: 6rem;
          border: 1px solid $lighter-gray;
          border-radius: 3px 0 0 3px;
          padding-left: 1rem;
          font-weight: 500;
          color: $black;
          font-size: 1.6rem;
          margin: 0;
        }

        &--add,
        &--sub {
          height: 2.2rem;
          width: 2.5rem;
          position: absolute;
          left: calc(6rem - 1px);
          padding: 0 !important;

          border: 1px solid $lighter-gray;
          background-color: $white;

          svg {
            fill: $black;
            transform: scale(1.3);
          }
        }

        &--add {
          top: 0;
          border-radius: 0 3px 0 0;
          border-bottom: none;
        }

        &--sub {
          bottom: 0;
          border-radius: 0 0 3px 0;
          border-top: none;
        }
      }
    }
  }
}
