@import "./fonts.scss";

html {
  font-family: "Nunito San", "Helvetica Neue", "Segoe UI", Tahoma, Geneva,
    Verdana, sans-serif, cursive;
  font-size: 62.5%;
}
/* 
#fb-root {
  .fb_dialog.fb_dialog_advanced {
    .fb_dialog_content {
      iframe {
        transform: scale(0.6);
      }
    }
  }
}
 */
