/* $primary-color: #7fad39; */
$primary-color: #056939;
$info-color: rgb(0, 119, 255);
$light-gray: rgb(194, 194, 194);
$secondary-color: #faad14;
$danger-color: rgb(189, 0, 0);
$lightest-gray: #eee;
$black: #000;
$darkgray: #555;
$white: #fff;
$inputHeight: 45px;

$card-light-border: rgba(0, 0, 0, 0.05);

$card-box-shadow-value: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
$card-box-shadow-light: 0px 0px 20px -5px rgba(0, 0, 0, 0.25);
