@import "./../../../assets/styles/variables.scss";

.cats-dropdown {
  border: none;

  &__topbtn {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    color: $white;
    font-weight: 500;
    font-size: 1.7rem;

    &:hover,
    &:focus,
    &:active {
      background: none;
      border: none;
      outline: none;
      box-shadow: none;
      color: $lighter-gray;
    }

    .anticon {
      margin-right: 0.5rem;
    }
  }

  &.ant-menu.ant-menu-inline {
    .ant-menu-submenu {
      position: relative;
    }

    li,
    .ant-menu-sub,
    .ant-menu-submenu,
    .ant-menu-submenu-title {
      padding-left: 0 !important;
      height: unset;
      line-height: unset;

      button {
        padding-left: 2.5rem;
      }
    }

    .ant-menu-submenu-title {
      height: $inputHeight;
      line-height: $inputHeight;
    }

    li.ant-menu-item {
      display: flex;
      padding-left: 2.5rem !important;
      font-size: 1.6rem;
      font-weight: 500;
      margin: 0;
      color: $black;

      a {
        width: 100%;
        height: $inputHeight;
        line-height: $inputHeight;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }
    }

    .ant-menu-sub {
      background-color: $lightest-gray;
      padding: 0.8rem 0;
    }

    .ant-menu-submenu-title {
      margin: 0;
      width: 100%;
      background-color: $primary-color;
    }

    &.relative-dropdown {
      .ant-menu-sub {
        position: absolute;
        z-index: 999;
      }
    }

    .ant-menu-submenu-arrow {
      color: $white;
    }
  }
}
