@import "./../../../assets/styles/variables.scss";

.cart-btn {
  background-color: $secondary-color;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  height: auto !important;
  padding: 0.2rem 1.5rem !important;
  min-height: 4rem;

  &__icon {
    padding-right: 1rem;
    border-right: 1px solid $lighter-gray;
    position: relative;

    svg {
      position: relative;
      bottom: -0.2rem;
      left: -0.5rem;
    }

    sup {
      position: absolute;
      top: -0.3rem;
      right: 0.5rem;
      width: 2rem;
      height: 2rem;
      font-size: 1.1rem;
      font-weight: 500;
      line-height: 2rem;
      border-radius: 50%;
      background-color: $danger-color;
      color: $white;
      text-align: center;
    }
  }

  svg {
    width: 3rem;
    height: 3rem;
  }

  .cart-btn-content {
    margin-left: 1rem;

    p {
      margin: 0;
      padding: 0;
    }

    &__title {
      font-weight: 600;
      color: $lighter-gray;
      font-size: small;
    }

    &__price {
      font-size: smaller;
      font-weight: 700;
    }
  }
}

.cart-dropdown {
  background-color: $white;
  padding: 0;
  border: 1px solid $lighter-gray;
  box-shadow: $card-box-shadow-light;
  border-radius: 0.5rem;
  min-width: 22rem;
  max-width: 32rem;
  overflow: hidden;

  &__list {
    padding: 1.5rem;
    max-height: 50rem;
    overflow: hidden;
    overflow-y: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__list-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed $lighter-gray;
    padding: 0.3rem 0;
    position: relative;

    > a {
      cursor: pointer;
    }

    &:last-of-type {
      border: none;
    }
  }

  &__item-body {
    display: flex;
    cursor: pointer;
  }

  &__item-img-wrapper {
    padding: 0.5rem 0;
  }

  &__item-img {
    position: relative;
    width: 8rem;
    padding-top: calc(100% * 5.5 / 5);

    img {
      position: absolute;
      width: 100%;
      height: auto;
      max-height: 100%;
      top: 0;
      left: 0;
    }
  }

  &__item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;

    > * {
      margin: 0;
      padding: 0;
    }

    h4 {
      text-overflow: ellipsis;
      word-wrap: break-word;
      overflow: hidden;
      min-height: 2.9rem;
      max-height: 2.9rem;
      line-height: 1.4rem;
      font-size: 1.4rem;
      color: $darkgray;

      &:hover {
        color: $primary-color;
      }
    }

    p {
      font-size: 1.4rem;
      font-weight: 100;
    }
  }

  &__cancel-btn {
    padding-top: 1rem;
    button {
      background: none;
      outline: none;
      border: none;
      color: $danger-color;
      text-transform: uppercase;
      transform: scale(1.2, 1);
      cursor: pointer;
    }
  }

  hr {
    border: none;
    border-top: 1px solid $light-gray;
  }

  &__total {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.4rem;

    &--title {
      font-weight: 200;
    }

    &--value {
      font-size: 1.5rem;
      font-weight: 500;
      color: $black;
    }
  }

  &__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;

    a {
      text-transform: uppercase;
      font-size: 1.3rem;
      padding: 0.7rem 1.6rem;
      border-radius: 999.9rem;
      outline: none;
      border: 1px solid $light-gray;
      cursor: pointer;
      overflow: hidden;
      position: relative;
      transition: 0.2s;
    }

    &--cart {
      color: $darkgray;
      background-color: $lighter-gray;

      &:hover {
        background-color: $light-gray;
        color: $white;
      }
    }

    &--pay {
      color: $white;
      background-color: $primary-color;

      &:hover {
        background-color: $white;
        color: $primary-color;
      }
    }
  }
}
